modules = ["nodejs-24", "postgresql-16", "python-3.11"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 18389
externalPort = 3000

[[ports]]
localPort = 18618
externalPort = 3001

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
WEB3AUTH_CLIENT_ID = "BL6I78SvFh3_WtAfsjZrGDgEE5cyGHyt4Ile68zQWnRmvx9-SERI2RyKGNVSekRnrs_6t2r5kvqhJZPDng1w5wU"
WEB3AUTH_JWKS_URL = "https://api-auth.web3auth.io/.well-known/jwks.json"
